[alias]
	h = log --graph --oneline --all --pretty=format:\"%C(yellow)%h%Creset %C(magenta)(%cr)%Creset %C(cyan)%cn%Creset %s %C(auto)%d%Creset\"
[user]
	name = Luciano Ciccariello
	email = xeeynamo@hotmail.com
[core]
	editor = code --wait
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
